@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Sono:wght@300&display=swap");

.main_container {
    display: flex;
    flex-direction:column;
    gap:20px;
    width:40%;
    margin: auto;
}

header {
    display:flex;
    gap:30px;
    flex-direction:column;
    align-items: center;
    margin-top:50px;
}


input[type="text"] {
    width:100%;
    border: 1px solid #474747;
    border-radius: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #333;
}

input[type="text"]:focus {
    border: 2px solid blue;
    border-color: blue;
    box-shadow: 0px 0px 5px 0px blue;
    outline: none;
    /* Add an outline of none to remove the default outline when an input is focused */
}

input[type="password"] {
    width:100%;
    border: 1px solid #474747;
    border-radius: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #333;
}

input[type="password"]:focus {
    border: 2px solid blue;
    border-color: blue;
    box-shadow: 0px 0px 5px 0px blue;
    outline: none;
    /* Add an outline of none to remove the default outline when an input is focused */
}


.label_text {
    font-family: "Sono", sans-serif;
    font-size:1.5em;
    color: #030c4f;
    font-weight:600;
    margin-bottom:5px;
    
}

.label_text.answer_text {
   align-self:center;
}

.form_item {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    margin-top: 50px;
    margin-bottom:50px;
}

.error-msg {
    color:red;
    font-family: "Roboto", sans-serif;
    font-size:1em;
}

.error-msg-hdr {
    color:red;
    font-family: "Roboto", sans-serif;
    font-size:2em;
}

.button-container {
    display: flex;
    flex-direction:column;
    gap:30px;
    justify-content:center;
}

.btn-container {
    display:flex;
    width:100%;

}

.rm-btn-container {
    display:flex;
    width:100%;
    justify-content: flex-end;
    align-items:flex-end;
}

.add-btn-container {
    display:flex;
    width:100%;
    justify-content: flex-start;
    align-items:flex-start;
}

.answer-container {
    display: flex;
    margin-top:0;
    width:100%;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:10%;
}

input.answer-input[type="text"] {
    width:100%;
    justify-self: flex-start;
}

/* Hide default checkbox */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    align-self:center;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #d1d1d1;
    background-color: #fff;
    transition: border-color 0.3s ease-in-out;
  }
  
  /* Checked state */
  input[type="checkbox"]:checked::before {
    content: "✔";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #fff;
  }
  
  input[type="checkbox"]:checked {
    background-color: #6fa9d6;
    border-color: #6fa9d6;
  }
  
  /* Hover state */
  input[type="checkbox"]:hover:not(:checked) {
    border-color: #a1a1a1;
}

.create-quiz-btn {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size:2em;
    box-shadow: 2px 2px 2px grey;
    padding: 5px;
    -webkit-text-stroke: 1px black;
    font-weight: 500;
    background-color: #1b0073;
    margin: 50px;
    align-self: center;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
  }
  
  .create-quiz-btn:hover {
    transform: scale(1.2);
  }
  