@import url(https://fonts.googleapis.com/css?family=Lato);

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

:root {
  --clr-primary: #00b4d8;
  --clr-primary-light-1: #90e0ef;
  --clr-primary-light-2: #caf0f8;
  --clr-primary-dark-1: #0077b6;
  --clr-primary-dark-2: #03045e;
}

.primary-header {
  background-color: var(--clr-primary-light-2);
  color: var(--clr-primary);
  margin: 0;
}

.container {
  --max-width: 1110px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.nav-primary ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.nav-primary a {
  position: relative;
  display: inline-block;
  padding: 4px 0;
  font-family: Lato, sans-serif;
  color: var(--clr-primary);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: bold;
}

.nav-primary a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--clr-primary-dark-1);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.nav-primary a:hover {
  color: var(--clr-primary-dark-2);
}

.nav-primary a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.mobile-nav-toggle,
.light-dark-mode-toggle {
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0.5em;
}

.mobile-nav-toggle .icon-close {
  display: none;
}

.light-dark-mode-toggle .icon-moon {
  display: none;
}

.icon-close,
.icon-hamburger,
.icon-sun,
.icon-moon {
  height: 2rem;
  width: 2rem;
}

.icon-QuizHub {
  height: 3rem;
}
