*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Georgia, serif;
}

:root {
  --hue-neutral: hsl(190, 77, 88);
  --hue-wrong: 0;
  --hue-correct: 145;
}

#question {
  font-size: large;
  font-weight: bold;
}

.question_body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 900px;
  justify-content: center;
  align-items: center;
  color: black;
}

.question-page_container {
  width: 700px;
  max-width: 80%;
  background: rgb(0, 119, 182);
  background: linear-gradient(
    315deg,
    rgba(0, 119, 182, 1) 0%,
    rgba(34, 161, 186, 1) 14%,
    rgba(202, 240, 248, 1) 60%
  );
  border-radius: 50px;
  padding: 100px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.question_btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.question_btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 70%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;

  appearance: none;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #1a1a1a;
  cursor: pointer;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.question_btn:hover {
  border-color: white;
  background-color: hsl(var(--hue), 100%, 50%);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.question_btn.correct {
  --hue: var(--hue-correct);
}

.question_btn.wrong {
  --hue: var(--hue-wrong);
}

.question_btn:disabled {
  pointer-events: none;
}

.next_button,
.start_button {
  font-size: 1, 5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

#question {
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  margin-bottom: 50px;
}

.focus {
  border-color: white;
  background-color: hsl(var(--hue), 100%, 60%);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#question_timer {
  display: block;
  position: absolute;
  align-items: center;
  align-content: center;
  margin-top: -30%;
}

.timer {
  position: absolute;
  font-size: 2.5em;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  top: 150px;
}

.no-click {
  pointer-events: none;
}

.quiz_score {
  position: absolute;
  top: 80%;
}
